<% @title = "Items sold by #{@user.username}" %>
<% @body_title = "Items sold by #{@user.username}" %>


<% @items.each do |i| %>
    <div class="item_holder">
        <a href='/items/<%= i.id %>'>
            <img src='<%= i.image_url %>' alt='<%= i.title %>' class='image_holder'>
        </a>

        <div class="link_holder">
            <a href="/items/<%= i.id %>">
                <%= i.title %><br>
                <span style='font-size:80%;'>by <%= i.author %></span>
            </a>
        </div>
    </div>
    <br>
<% end %>
